$def with (content)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=szul.myopenid.com" />
    <meta name="keywords" content="$content.meta_keywords" />
    <meta name="description" content="$content.meta_description" />
    <title>$content.title</title>
    <!--[if IE]>
      <script src="/static/javascripts/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/stylesheets/styles.css" />
    <link rel="alternate" type="application/rss+xml" title="Michael Szul: author, artist, philosopher, technologist" href="/blog/feeds/rss/" />
    <link rel="openid.server" href="http://www.myopenid.com/server" />
    <link rel="openid.delegate" href="http://szul.myopenid.com/" />
    <link rel="openid2.local_id" href="http://szul.myopenid.com" />
    <link rel="openid2.provider" href="http://www.myopenid.com/server" />
  </head>
  <body>
      <div class="masthead">
        <div class="blocks">
          <h1><a href="/">michael szul</a></h1>
          <a class="image-link" href="/about/">
            <img src="/static/images/szul.png" alt="michael szul" title="michael szul" />
          </a>
        </div>
      </div>
      $:content
    <div class="clear"></div>
    <footer>
      <p>Copyright 2000 - 2012 <a href="/about/">Michael Szul</a>. All rights reserved.</p>
      <p>
        <a href="http://www.amazon.com/gp/pdp/profile/A3FJSHVW02YAK3?ie=UTF8&ref_=ya_56" rel="external"><img src="/static/images/social/amazon_32.png" alt="amazon" /></a>
        <a href="http://www.facebook.com/Szul2012" rel="external"><img src="/static/images/social/facebook_32.png" alt="facebook" /></a>
        <a href="http://www.linkedin.com/in/szul2012" rel="external"><img src="/static/images/social/linkedin_32.png" alt="linkedin" /></a>
        <a href="http://pinboard.in/u:szul" rel="external"><img src="/static/images/social/pinboard_32.png" alt="pinboard" /></a>
        <a href="https://skydrive.live.com/?sc=photos&cid=0a1b1d3d918bdbc5" rel="external"><img src="/static/images/social/skydrive_32.png" alt="skydrive" /></a>
        <a href="http://twitter.com/szul" rel="external"><img src="/static/images/social/twitter_32.png" alt="twitter" /></a>
        <a href="http://live.xbox.com/en-US/MyXbox/Profile?gamertag=szul2012&xr=livewall" rel="external"><img src="/static/images/social/xbox_32.png" alt="xbox 360 live" /></a>
        <a href="http://social.zune.net/member/szul2012" rel="external"><img src="/static/images/social/zune_32.png" alt="zune" /></a>
      </p>
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-22459488-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
