$var title: About Michael Szul
$var meta_keywords: internal server error, 500
$var meta_description: An error has occurred.

<nav class="small">
	<div>
		<div class="blocks">
		  <a href="/writing/">writing</a>
		</div>
		<div class="blocks">
		  <a href="#">research</a>
		</div>
	</div>
	<div>
	  <div class="blocks">
		<a href="/speaking/">speaking</a>
	  </div>
	  <div class="blocks">
		<a href="/media/">media</a>
	  </div>
	</div>
</nav>
<article>
  <h1>Oops... An error has occurred.</h1>
</article>
